<div *ngIf="lecture">
    <h2>Lecture Details</h2>
    <dl class="property-list">
        <dt class="property-list__key">Lecture reference</dt>
        <dd class="property-list__value">
            <div class="code">{{lecture.lectureRef}}</div>
        </dd>
    </dl>
    <dl class="property-list">
        <dt class="property-list__key">Lecture name</dt>
        <dd class="property-list__value"><input type="text" [(ngModel)]="lecture.name" (keyup)="update()"></dd>
    </dl>
    <dl class="property-list">
        <dt class="property-list__key">Max participants</dt>
        <dd class="property-list__value"><input type="number" [(ngModel)]="lecture.maxParticipants" (keyup)="update()"></dd>
    </dl>
    <dl class="property-list">
        <dt class="property-list__key">Description</dt>
        <dd class="property-list__value"><textarea [(ngModel)]="lecture.description" name="Description" mdInput  rows="5" (keyup)="update()"></textarea></dd>
    </dl>
    <dl class="property-list">
        <dt class="property-list__key">Is in Room</dt>
        <dd class="property-list__value,code"><a routerLink="/rooms/{{lecture.room}}">
            <span class="badge">{{lecture.room}}</span>
        </a></dd>
    </dl>

    <br>
    <button type="button" (click)="goBack()">Go back</button>
</div>
